<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
      <h2 class="collapsible__heading">Items</h2>
      <svg class="icon icon--primary chevron__collapsible">
        <use xlink:href="images/sprite.svg#chevron-svgrepo-com"></use>
      </svg>
    </header>
    <div class="collabsiple__contant">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit cum eos
      laborum sunt quas illum sapiente ipsa unde provident enim.
    </div>
  </div>
  <script src="js/main.js"></script>