<header>
  <nav class="nav collapsible">
    <a href="/"><img src="images/logo.svg" alt="" /></a>
    <svg class="icon icon--white nav__toggler">
      <use
        class="nav__brand"
        xlink:href="images/sprite.svg#chevron-svgrepo-com (4)"
      ></use>
    </svg>
    <ul class="list nav__list collapsible__content">
      <li class="nav__item"><a href="#">Hosting</a></li>
      <li class="nav__item"><a href="#">Vps</a></li>
      <li class="nav__item"><a href="#">Domain</a></li>
      <li class="nav__item"><a href="#">Pricing</a></li>
    </ul>
  </nav>
</header>
<section class="block block--dark block--skewed-left hero">
  <div class="container grid grid--1x2">
    <header class="block__header hero__content">
      <h1 class="block__heading">Cloud Hosting for Pros</h1>
      <p class="hero__tagline">Depoly your website in less than 60seconds</p>
      <a href="" class="btn btn--accent btn--stretched">Get Started</a>
    </header>
    <img class="hero__image" src="images/banner.png" alt="" />
  </div>
</section>
<section class="block container block-domain">
  <header class="block__header">
    <h2 class="domain-heading">Starting at 11$ per month</h2>
    <p class="domain-para">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, facere.
    </p>
  </header>
  <div class="input-group">
    <input type="text" class="input" placeholder="Enter domain name here" />
    <button class="btn btn--accent">
      <svg class="icon icon--white">
        <use xlink:href="images/sprite.svg#search-svgrepo-com"></use></svg
      >Search
    </button>
  </div>
  <ul class="list block-domain__prices">
    <li>.com $9.26</li>
    <li><span class="badge badge--secondary">.sg $7.91</span></li>
    <li>.space $11</li>
    <li>.info $14</li>
    <li>.net $10$</li>
    <li>.xyz $10</li>
  </ul>
</section>

<section class="block container block-plans">
  <div class="grid grid--1x3">
    <div class="plan">
      <div class="card card--secondary">
        <header class="card__header">
          <h3 class="plan__name">Entry</h3>
          <span class="plan__price">$14</span>
          <span class="plan__billing-cycle">/Month</span>
          <span class="badge badge--secondary badge--small">20% off</span>
          <span class="plan__description">Easy start on the cloud</span>
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">Unlimited Websities</li>
            <li class="list__item">Unlimited Bandwidth</li>
            <li class="list__item">100 GB SSD Sotrage</li>
            <li class="list__item">3 GB RAM</li>
          </ul>
          <button class="btn btn--outline btn--block">Buy Now</button>
        </div>
      </div>
    </div>
    <div class="plan plan--popular">
      <div class="card card--primary">
        <header class="card__header">
          <h3 class="plan__name">Entry</h3>
          <span class="plan__price">$14</span>
          <span class="plan__billing-cycle">/Month</span>
          <span class="badge badge--primary badge--small">20% off</span>
          <span class="plan__description">Easy start on the cloud</span>
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">Unlimited Websities</li>
            <li class="list__item">Unlimited Bandwidth</li>
            <li class="list__item">100 GB SSD Sotrage</li>
            <li class="list__item">3 GB RAM</li>
          </ul>
          <button class="btn btn--outline btn--block">Buy Now</button>
        </div>
      </div>
    </div>
    <div class="plan">
      <div class="card card--secondary">
        <header class="card__header">
          <h3 class="plan__name">Entry</h3>
          <span class="plan__price">$14</span>
          <span class="plan__billing-cycle">/Month</span>
          <span class="badge badge--secondary badge--small">20% off</span>
          <span class="plan__description">Easy start on the cloud</span>
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">Unlimited Websities</li>
            <li class="list__item">Unlimited Bandwidth</li>
            <li class="list__item">100 GB SSD Sotrage</li>
            <li class="list__item">3 GB RAM</li>
          </ul>
          <button class="btn btn--outline btn--block">Buy Now</button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="block container">
  <header class="block__heading">
    <h2>Host on the Cloud to Keep Growing</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, nemo!
    </p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#computer-svgrepo-com"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super easy to use</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis,
        necessitatibus?
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <img class="feature__image" src="images/easy.jpg" alt="" />
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#computer-svgrepo-com"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Simple Fast Website</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis,
        necessitatibus?
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <img class="feature__image" src="images/fast.jpg" alt="" />
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#settings-svgrepo-com"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Word Press Made Easy</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis,
        necessitatibus?
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <img class="feature__image" src="images/wordpress.jpg" alt="" />
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#clock-svgrepo-com"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Word Press Made Easy</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis,
        necessitatibus?
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <img class="feature__image" src="images/support.jpg" alt="" />
  </article>
</section>
<section class="block">
  <header class="block__header">
    <h2>What Our Customer Are Saying</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti,
      mollitia?
    </p>
  </header>
  <div class="container">
    <div class="card testimonial">
      <div class="grid grid--1x2">
        <div class="testimonial__image">
          <img
            class="testimonial__image"
            src="images/testimonial.jpg"
            alt="A happy,smilimg customer"
          />
          <span class="icon-container icon-container--accent">
            <svg class="icon icon--white icon--small">
              <use xlink:href="images/sprite.svg#quotes-svgrepo-com (1)"></use>
            </svg>
          </span>
        </div>
        <blockquote class="quote">
          <p class="quote__text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe
            aspernatur veniam, eum explicabo ipsa ea voluptatem nam facere
            assumenda obcaecati.
          </p>
          <footer>
            <div class="media">
              <div class="media__image">
                <svg class="icon icon--primary quote_line">
                  <use xlink:href="images/sprite.svg#growth-svgrepo-com"></use>
                </svg>
              </div>
              <div class="media__body">
                <h3 class="media__title quote_author">Sanju Samson</h3>
                <p class="quote_organisation">AP enterprise thothukudi</p>
              </div>
            </div>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>
<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <section class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">PRODUCTS</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron-svgrepo-com"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Website Hosting</a></li>
          <li><a href="#">Free Automated Wordpass</a></li>
          <li><a href="#">Migrations</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">COMPANY</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron-svgrepo-com"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">About</a></li>
          <li><a href="#">Affilicates</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">SUPPORT</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron-svgrepo-com"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Contact</a></li>
          <li><a href="#">Knowledge Base</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">DOMAINS</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron-svgrepo-com"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Domain Checker</a></li>
          <li><a href="#">Domain Transfer</a></li>
          <li><a href="#">Free Doamin</a></li>
        </ul>
      </div>
    </section>
    <section class="footer__brand">
      <img src="images/logo.svg" alt="" />
      <p class="footer__copyright">Copyright 2020 Vijaykumar</p>
    </section>
  </div>
</footer>
