<section class="container block">
    <header class="block__heading">
      <h2>Host On the cloud to keep growing</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, quasi?</p>
    </header>
    <article class="grid grid--1x2 feature">
      <div class="feature--content">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#menu-svgrepo-com"></use>
          </svg>
        </span>
        <h3 class="feature-content">super east to use</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
          eligendi, aliquid necessitatibus molestiae illum nihil qui alias
          perferendis officia nemo!
        </p>
        <a href="#" class="link-arrow">Learn more</a>
      </div>
      <picture>
        <img class="feature-images" src="images/banner.png" alt=""></picture>
    </article>
  </section>
  <article class="grid grid--1x2 feature">
    <div class="feature--content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#settings-svgrepo-com"></use>
        </svg>
      </span>
      <h3 class="feature-content">word press made easy</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
        eligendi, aliquid necessitatibus molestiae illum nihil qui alias
        perferendis officia nemo!
      </p>
      <a href="#" class="link-arrow">Learn more</a>
    </div>
    <picture>
      <img class="feature-images" src="images/446680.jpg" alt=""></picture>
  </article>
  <section class="block container">
    <article class="grid grid--1x2 feature">
      <div class="feature--content">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#computer-svgrepo-com"></use>
          </svg>
        </span>
        <h3 class="feature-content">Simple fast websities</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
          eligendi, aliquid necessitatibus molestiae illum nihil qui alias
          perferendis officia nemo!
        </p>
        <a href="#" class="link-arrow">Learn more</a>
      </div>
      <picture>
        <img class="feature-images" src="images/20201217_194234.jpg" alt=""></picture>
    </article>
  </section>