<nav class="nav collapsible">
  <a href="/"><img src="images/logo.svg" alt="" /></a>
  <svg class="icon icon--white nav__toggler">
    <use
      class="nav__brand"
      xlink:href="images/sprite.svg#chevron-svgrepo-com (4)"
    ></use>
  </svg>
  <ul class="list nav__list collabsiple__contant">
    <li class="nav__items"><a href="#">Hosting</a></li>
    <li class="nav__items"><a href="#">Vps</a></li>
    <li class="nav__items"><a href="#">Domain</a></li>
    <li class="nav__items"><a href="#">Pricing</a></li>
  </ul>
</nav>
<script src="js/main.js"></script>
