<blockquote class="quote">
    <p class="quote__text">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe
      aspernatur veniam, eum explicabo ipsa ea voluptatem nam facere assumenda
      obcaecati.
    </p>
    <footer>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary quote_line">
            <use xlink:href="images/sprite.svg#growth-svgrepo-com"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title quote_author">Sanju Samson</h3>
          <p class="quote_organisation">AP enterprise thothukudi</p>
        </div>
      </div>
    </footer>
  </blockquote>