<section class="block">
    <header class="block__header">
      <h2>What Our Customer Are Saying</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti,
        mollitia?
      </p>
    </header>
    <div class="container">
      <div class="card testimonial">
        <div class="grid grid--1x2">
          <div class="testimonial__image">
            <img
              class="testimonial__image"
              src="images/testimonial.jpg"
              alt="A happy,smilimg customer"
            />
            <span class="icon-container icon-container--accent">
              <svg class="icon icon--white icon--small">
                <use
                  xlink:href="images/sprite.svg#quotes-svgrepo-com (1)"
                ></use>
              </svg>
            </span>
          </div>
          <blockquote class="quote">
            <p class="quote__text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe
              aspernatur veniam, eum explicabo ipsa ea voluptatem nam facere
              assumenda obcaecati.
            </p>
            <footer>
              <div class="media">
                <div class="media__image">
                  <svg class="icon icon--primary quote_line">
                    <use
                      xlink:href="images/sprite.svg#growth-svgrepo-com"
                    ></use>
                  </svg>
                </div>
                <div class="media__body">
                  <h3 class="media__title quote_author">Sanju Samson</h3>
                  <p class="quote_organisation">AP enterprise thothukudi</p>
                </div>
              </div>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
  </section>